.head {
    border: 1px solid black;
    min-height: 80vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    text-align: center;

}
.description {
    background-color: #656363;
    width: 50%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    border: 1px solid;
    width: 80%;
}
.button {
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 25px;
    width: 80px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vh;
    border: 1px solid black;
}
.input {
    margin: 5px;
}
.inputSend {
    margin: 5px;
}
.text {
    margin: 5px;
    min-height: 10vh;
}