@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.burgerNav {
   //border: 1px solid red;
   width: 100%;
   height: 100%;
   background-color: $bgSecondColor;
   //position: relative;
   .burgerNavItems{
      @include flex(column, space-between, center, nowrap);
      position: absolute;
      background-color: $bgSecondColor;
      right: 0;
      left: 0;
      top: 0px;
      //display: none;
      height: 0;
      padding: 20px;
      transform: translate(0, -150px);
      transition: 0.7s;
      a {
         @include text($TitleFontFamily, 16px, 1.2,300);
         color: #fff;
         cursor: pointer;
         &:hover {
            color: $primaryColor;
            text-decoration: none;
         }
      }
      .active{
         color:$primaryColor
      }
   }
   .show {
      transform: translate(0, 0);
      height: 125px;
   }
   .burgerButton{
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: $primaryColor;
      position: absolute;
      top: 24px;
      right: 10px;
   }
   @media screen and(min-width: 400px){
      display: none;

   }
}


