.project {
    border: 1px solid red;
    width: 250px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 200px;
    width: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Noble_Knob_looking_North.jpg/300px-Noble_Knob_looking_North.jpg');
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.secondMain {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    align-items: flex-start;
    width: 100%;
    border: 1px solid greenyellow;
    flex-direction: column;
}
.button {
    border: 1px solid gray;
    width: 70px;
    background-color: lightpink;

}
.name {
    border: 1px solid dimgrey;
    margin: 5px;
}
.description {
    border: 1px solid #656363;
    margin: 5px;
}