.head {
    border: 1px solid black;
    min-height: 80vh;
    background-color: #f1d272;
    display: flex;
    justify-content: center;
    text-align: center;

}
.description {
    background-color: #656363;
    width: 50%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    border: 1px solid;
    width: 80%;
}
.footer {
    background-color: cornflowerblue;
    border: 1px solid black;


}
.menu {
    border: 1px solid black;
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-between;

}
.icon {
    height:40px;
    width: 40px;
    background-color: aquamarine;
}