.projectsBlock {
    min-height: 100vh;
    background-color: #2aa4e2;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: gray;
}

.projects {
    border: 1px solid;
    width: 100%;
}